.f-toolbar{
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom:1px solid #DDD;
	 height:23px;
	 margin-top:1px;
	 padding:0px;
	 background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
	 background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); -moz-transition:-moz-box-shadow linear .2s;
-webkit-transition: -webkit-box-shadow linear .2s;
transition: box-shadow linear .2s;
	 white-space: nowrap; 
}
.f-toolbar img{vertical-align:text-bottom;}
.f-toolbar button{ display:inline-block; padding:1px 2px; text-decoration:none; color: #333 !important; cursor:pointer; border-top: solid 1px #FFFFFF; border-bottom: solid 1px #DDD;border-left:none;border-right:none; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); 
-webkit-transition: -webkit-box-shadow linear .2s;
transition: box-shadow linear .2s;
white-space: nowrap; 
margin-top:1px;
height:23px;
font-size:12px;
}
.f-toolbar button:focus{ outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.f-toolbar button:hover{ color:#000; border: solid 1px #999; padding:1px 1px;}
.f-toolbar button:active{ border-color:#F5F5F5;}
.f-toolbar button[disabled] { padding:1px 2px; cursor:default; color:#666; background:#DDD; border: 1px solid #F5F5F5; filter:alpha(opacity=60); opacity:.5; box-shadow:none; }

.fbutton{ display:inline-block; padding:1px 8px; text-decoration:none; color: #333 !important; cursor:pointer; border: solid 1px #999;background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .2), 0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s;
-webkit-transition: -webkit-box-shadow linear .2s;
transition: box-shadow linear .2s;
white-space: nowrap; }
.fbutton:focus{ outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.fbutton:hover{ color:#000; border-color:#666; }
.fbutton:active{ border-color:#666; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF');
background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.fbutton[disabled] { cursor:default; color:#666; background:#DDD; border: 1px solid #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }

.action{
 cursor:pointer;
 padding:0 4px;
 color: blue;
}
.action:hover {
	color: red;
	text-decoration:underline;
	cursor:pointer;
}
.action img{
 margin-bottom:-3px; 
}